/* Base Style */
body {
	font-family: 'Kalam', cursive;
	color: #334A3B;
	font-size: 16px;
	background-color: #D5E4DA;
}

/* HEADER */
#header-nav {
	background-color: #A2C0AD;
	border-radius: 0;
	border: 0;	
}

.navbar-brand {
	padding-top: 25px;
}

/* Restaurant Name */
.navbar-brand h1 {
	font-family: 'Kalam', cursive;
	font-size: 1.5em;
	color: #334A3B;
	font-weight: bold;
	text-shadow: 1px 1px 1px #26342C;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 0;
	margin-bottom: 0;
	background: #E5EDE8;
}

#nav-list a {
	color: #334A3B;
	font-weight: bold;
	text-align: center;
}

#nav-list a:hover {
	background: #F8F5F7;
}

#nav-list a span {
	font-size: 30px;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -40px;
	margin-bottom: 10px;
}

#menu {
	font-weight: bold;
	font-size: 2.5em;
}

#chicken span {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

#beef span {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

#sushi span {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

#chicken {
	margin-left: 0;
	margin-top: 10px;
	padding: 40px;
	margin-bottom: 10px;
	background: #EAF1EC;
}

#beef {
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 40px;
	background: #EAF1EC;
}

#sushi {
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 40px;
	background: #EAF1EC;
}

#main-content p {
	line-height: 150%;
}
